<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="HTTPSListener@6643" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">6643</number>
      <value name="protocol">HTTPS</value>
      <value name="pkg">sttHelloWorldJMS</value>
      <value name="enabled">true</value>
      <value name="key">HTTPSListener@6643</value>
      <value name="uniqueID">a2c2120117094e44ac885662865973de</value>
      <value name="portAlias">sttHelloWorld</value>
      <value name="portDescription">Integration Server HTTPS port: 6643</value>
      <value name="factoryKey">webMethods/HTTP</value>
      <value name="configURL">/WmRoot/configHTTP.dsp</value>
      <value name="provider">webMethods</value>
      <value name="listenerType">Regular</value>
      <value name="clientAuth">none</value>
      <value name="idProvider">salesforce.com</value>
      <value name="ssl">true</value>
      <value name="maxQueue">200</value>
      <value name="keepAliveTimeout">20000</value>
      <value name="internalPort">-1</value>
      <value name="curDelay">0</value>
      <value name="stepsize">10000</value>
      <value name="suspended">false</value>
      <value name="alias">1</value>
      <value name="keyStore">API_PORT_KEYSTORE</value>
      <value name="trustStore">DEFAULT_IS_TRUSTSTORE</value>
      <null name="jsseDisabledProtocols"/>
      <null name="jsseEnabledProtocols"/>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="HTTPSListener@6643" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">exclude</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
          <value>wm.server.csrfguard:replaceSpecialCharacters</value>
          <value>wm.server:disconnect</value>
          <value>wm.server:ping</value>
          <value>wm.server.tx:end</value>
          <value>wm.server:getClusterNodes</value>
          <value>wm.server:getServerNodes</value>
          <value>wm.server.csrfguard:isCSRFGuardEnabled</value>
          <value>wm.server:noop</value>
          <value>wm.server.csrfguard:getCSRFSecretToken</value>
          <value>wm.server.tx:execute</value>
          <value>sttHelloWorldJMS.services</value>
          <value>wm.server.tx:start</value>
          <value>wm.server:connect</value>
          <value>wm.server.tx:restart</value>
        </list>
      </record>
      <value name="key">HTTPSListener@6643</value>
    </record>
  </record>
</Values>
