apiVersion: v1
kind: Secret
metadata:
  name: stt-hello-world-jms
type: Opaque
stringData:
  # Administrator password
  ADMIN_PASSWORD: ""
  # tester user password (this account is used to call the API)
  TESTER_PASSWORD: ""
  # Password protecting the jms_truststore.jks file referenced in secret "jms-truststore" (see below)
  JMS_TRUSTSTORE_PASSWORD: ""
  # Password protecting the keystore.jks file associated to the msr-service-cert certificate (see msr-service-certificate.yaml)
  API_PORT_KEYSTORE_PASSWORD: ""

---

# Secret containing the CA referenced by the certificate issuer
# The certificate issuer is used to create the certificate presented by the API endpoint
# The local certificate issuer and its secret can be replaced with a cluster wide issuer

apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: server-ca-secret
  namespace: iwhi
type: kubernetes.io/tls
data:
  tls.crt: 
  tls.key: 

---

# Secret to trust the certificate presented by the JMS provider

kind: Secret
apiVersion: v1
metadata:
  name: jms-truststore
data:
  jms_truststore.jks: 
type: Opaque

---

# Secret to pull the microservice image (can also be created using the oc create CLI)

apiVersion: v1
kind: Secret
metadata:
  name: quay-regcred
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: 