apiVersion: v1
kind: Secret
metadata:
  name: stt-hello-world-jms
type: Opaque
stringData:
  ADMIN_PASSWORD: ""
  TESTER_PASSWORD: ""
  JMS_TRUSTSTORE_PASSWORD: ""
  API_PORT_KEYSTORE_PASSWORD: ""

---

# JMS keystore - needs to contain the certificate (or the CA of the certificate) presented by the messaging broker

kind: Secret
apiVersion: v1
metadata:
  name: jms-truststore
data:
  jms_truststore.jks: 
type: Opaque

---

# To generate the quay-regcred secret manifest:
# kubectl create secret docker-registry quay-regcred \  
#   --docker-server=$QUAY_CR_SERVER \     
#   --docker-username=$QUAY_CR_USERNAME \
#   --docker-password=$QUAY_CR_PASSWORD \
#   --dry-run=client -o yaml